ul li
{
    list-style: none;
    display: inline-block;
}
li a
{
    text-decoration: none;
}
.form-control, .input-group-addon
{
    border-radius: 0px;
}
.title
{
    padding: 50px 0px;
    margin-top: 65px
}
a 
{
    color: darkcyan;
}
a:hover
{
    text-decoration: none;
}

.btn {
    font-family: 'Raleway', sans-serif;
}

.pagination
{
    border-radius: 0px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #46A1B4;
    border-color: #5FA8AB;
}
.pagination>li>a, .pagination>li>span {

color: #085A6C;
background-color: #fff;
border: 1px solid #ddd;
}

p
{
    font-family: 'Dosis', sans-serif;
    word-spacing: 3px;
    font-size: 17px;
}
h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.send 
{
    margin-bottom: 20px;
}

.owl-pagination 
{
    display: none;
}

.section-title
{
    background: url('../img/6177817673_5ba53ffc2a_z.jpg');
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    color: #F0FEFF;
}
.section-title .headline
{
    font-size: 70px;
    word-spacing: 10px;
}
.section-wrapper
{
    background-color: rgba(45, 53, 56, 0.78);
    padding: 78px 0px;
    margin-top: 65px;
}


.section-header{
  font-size: 2em;
  border-bottom: 1px dotted #ccc;
  padding: 1em 0;
}


.logo
{
    font-family: 'Dosis', sans-serif;
}

.navbar-default
{
   
    background-color: #46a1b4;
}
.navbar-default .navbar-header .logo
{
    font-size: 32px;
    color: #fff;
}
.navbar-nav li 
{

    padding: 7px 0px;
}
.navbar-default .navbar-nav li a 
{
    text-shadow: 1px 1px 0px #20606D;
    color: #fff;
}
.navbar-default .navbar-nav>.active
{

    background-color: rgba(76, 214, 245, 0.62);
    border-top: 4px ridge rgb(5, 207, 252);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus 
{
    color: #fff;
}
li:last-child 
{
    border-right: transparent;
}
.navbar-default .navbar-nav>li:hover, .navbar-default .navbar-nav>li:focus {
    background-color: #377F8F;
    color: white;
    border-bottom: 4px ridge rgb(5, 207, 252);
}

.container-fluid 
{
    margin-left: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus
{
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>.active:hover 
{
    background-color: rgba(5, 207, 252, 0.62);
    border-bottom: none;
}

.blog-content aside .widget, .faq-content aside .widget
{
    margin-bottom: 40px;
}
.widget h4
{
    background: url("../img/title-bg.png") repeat-x scroll 0 4px rgba(0, 0, 0, 0);
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}
.widget.widget_iw_last_posts h5 
{
    margin-bottom: 5px;
    font-weight: 400;
}
.widget h4 span, .special-service h2 span
{
    background: white;
    padding-right: 10px;
}
.widget h5 
{
    text-transform: none;
    font-size: 14px;
    margin-top: 10px;
}
.widget ul 
{
    padding-left: 0;
    list-style: none;
}
.widget ul li 
{
    border-bottom: 1px solid #f3f3f3;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    list-style: none;
    display: block;
    padding: 10px 20px 10px 0;
    position: relative;
}
.widget ul li:hover 
{
    background: #f8f8f8;
    padding-left: 10px;
}
.widget ul li:hover a
{
    text-decoration: none;
}
.widget ul li:before 
{
    color: #646464;
    content: "\f0da";
    font-family: FontAwesome;
    position: absolute;
    right: 5px;
    top: 12px;
    font-size: 11px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.widget.widget_tag_cloud .tagcloud a 
{
    background-color: #eaeaea;
    border: 1px solid #f3f3f3;
    padding: 5px 10px;
    margin: 0 3px 8px 0;
    font-size: 14px !important;
    display: inline-block;
}



.appointment
{
    background-color: #e6e6e6;
}
.appointment .header 
{
    background-color: #46a1b4;
    min-height: 99px;
    height: auto !important;
    padding: 10px 23px 0px;
    margin: 0px 0px 30px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.2)), to(rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0));
    background-image: -o-linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0));
    background-image: linear-gradient(top, rgba(255,255,255,.2), rgba(0,0,0,0));
}
.appointment .header h2, .appointment .header .number 
{
    text-shadow: 1px 1px 0px #20606D;
    color: #ffffff;
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;
}  
.appointment .header a i
{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: 2px solid #fff;
    background: #6DBEC2;
    color: white;
    padding-top: 3px;
    padding-left: 6px;
}
.appointment .header .or 
{
    display: block;
    width: 100%;
    height: 35px;
    background: url(../img/or-bg.png) center center no-repeat; 
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    position: relative;
    top: 17px;
}
.captcha-container 
{
    margin: 0 0 20px;
}
.captcha-container img 
{
    vertical-align: top;
    margin: 10px 0px;
}
.appointment .input-group
{
    padding: 10px 0px;
}

.slider-inner 
{
   
    background-color: rgba(51, 71, 90, 0.32);
    width: 100%;
    color: white;
    height: 700px;
}
.slider-inner-text
{
    margin: 262px 0px;
    width: 50%
}
.slider-1
{
    background: url(../img/slider1.jpg);
    width: 100%;
    background-size: cover;
    vertical-align: middle;
    background-position-x: 75%;
    background-position-y: 5%;
}
.slider-2
{
    background: url(../img/slider2.jpg);
    width: 100%;
    background-size: cover;
    background-position-x: 65%;
    background-position-y: 5%;
}
.slider-3
{
    background: url(../img/slider3.jpg);
    width: 100%;
    background-size: cover;
    background-position-x: 75%;
    background-position-y: 5%;
}
.slider-inner h1 
{
    margin-bottom: 35px;
    font-size: 70px;
}
.slider-inner-text p
{
    font-size: 23px;
}


section.starting-text 
{
    background-color: rgba(70, 161, 180, 0.82);
    margin-top: -37px;
}
.welcome 
{
    padding: 48px 68px;
    text-align: center;
}
.welcome-title 
{
    font-size: 50px;
    padding-bottom: 15px;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #083944;
}

.welcome-btn
{
    background-color: #fff;
    margin-top: 20px;
    color: #46a1b4;
    border-radius: 0px;
    font-size: 16px;
    transition: all 0.3s ease-in;
    padding: 13px 20px;
    border: 2px solid #fff;
}
.welcome-btn:hover 
{
    color: white;
    background-color: #46a1b4;
}

.service-heading 
{
    padding: 20px 0px;
    color: darkcyan;
    font-size: 29px;
}

.service-img 
{
    opacity: 0.9;
}

.form-control {
    height: 38px !important;
}
.hservice {
    background-color: rgba(185, 208, 240, 0.16);
    border: 1px solid #CED8E7;
    margin: 30px 0px;
    padding-bottom: 30px;
    transition: all 0.3s ease-in;
}
.hservice:hover 
{
    box-shadow: 0px 2px 3px 2px #CED8E7;
}

.hservice:hover .service-img 
{
    opacity: 1;
}
.service-description p 
{
    padding: 0px 10px;
    line-height: 25px;
}

.service-title
{
    background: url(../img/gradient-blue-computer.jpg);
    background-size: cover;
    vertical-align: middle;
    background-position: center;
    color: #F0FEFF;
}
.service-title .headline 
{
    font-size: 70px;
    word-spacing: 10px;
}
.service-wrapper
{
    background-color: rgba(70, 161, 180, 0.62);
    padding: 78px 0px;
    margin-top: 65px;
}
.service
{
    padding: 40px 20px;
    transition: all 0.5s ease 0s;
}
.featured-service-content 
{
    margin: 40px 0px;
}
.service .service-icon i
{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 2px solid #6DBEC2;
    background: #fff;
    color: #6DBEC2;
    padding-top: 38px;
    transition: all 0.7s ease 0s;
}
.about-service h3 
{
    padding: 12px 0px;
    color: darkcyan;
}

.about-service p 
{
    padding: 0px 10px;
}
.service:hover .service-icon i
{
    color: white;
    background-color: #6DBEC2;
}
.service:hover .about-service h3
{
    color: #02A2B6;
}
.special-service
{
    margin-top: 50px;
}
.service-tab 
{
    margin-top: 50px;
}

.service-item 
{
    padding: 30px 0px;
}
.service-item img 
{
    margin-bottom: 30px;
}
.service-item h3 
{
    color: darkcyan;
    margin-top: 0px;
}
.service-item p 
{
    line-height: 25px;
    padding: 10px 0px;
}
.special-service h2
{
    background: url("../img/title-bg.png") repeat-x scroll 0 13px rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    margin-top: 0;
}

.sub-headline 
{
    padding: 15px 0px 40px 0px;
    font-size: 24px;
}
.headline 
{
    padding-top: 45px;
    font-size: 45px;
}
.service-rm-btn
{
    background-color: transparent;
    color: #46a1b4;
    border-radius: 0px;
    font-size: 15px;
    transition: all 0.3s ease-in;
    padding: 5px 12px;
    margin: 4px 0px 0px 5px;
    border-color: #46a1b4;
}
.service-rm-btn:hover
{
   
    background-color: rgb(0, 139, 168);
    color: #fff;
    border-color: #3A90CD;
}

.team-button {
    margin-top: -60px;
}
#starting
{
    background: url(../img/doctors-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width:1100px){

    .starting-wrapper {
    height: 500px;
    }
}
.starting-wrapper
{
    background-color: rgba(0,0,0,0.17);
    padding: 208px 0px;
    color: #fff;
}
.main-title {
    background-color: rgb(47, 79, 79);
    display: inline-block;
    padding: 23px 70px;
}
.sub-title 
{
    padding: 30px;
    float: right;
    background-color: darkslategrey;
}
.doctor-list
{
    padding-top: 100px;
}
.doctor-meta
{
    margin: 100px 0px 70px 0px;
    padding: 120px 35px 36px;
    border: 1px solid rgba(59, 77, 116, 0.29);
    background-color: rgba(92, 145, 216, 0.27);
    position: relative;
}
.doctor-meta .doctor-img
{
    width: 200px;
    height: 200px;
    position: absolute;
    top: -100px;
    left: 50%;
    margin-left: -95px;
    border: 2px solid #c6c6c6;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.doctor-meta .doctor-img img
{
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.doctor-info .doctor-name
{
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
    display: block;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.doctor-info .position
{
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    letter-spacing: 1px;
}
.doctor-info .doctor-des
{
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
}
.doctor-info .doctor-social .online-contact a
{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: cadetblue;
    float: left;
    color: white;
    padding-top: 6px;
    padding-left: 2px;
}

.contact-title
{
    background: url(../img/5501-world-map-1680x1050-digital-art-wallpaper.jpg);
    background-size: cover;
    vertical-align: middle;
    color: #F0FEFF;
    background-position: center;
}
.contact-title .headline
{
    font-size: 70px;
    word-spacing: 10px;
}
.contact-wrapper
{
    background-color: rgba(45, 53, 56, 0.71);
    padding: 78px 0px;
    margin-top: 65px;
}
.contact-content
{
    margin-top: 100px;
}
#map-canvas 
{
    width: 100%;
    height: 460px;
}
.quick-contact i 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #6DBEC2;
    color: white;
    padding-top: 12px;
    padding-left: 14px;
    font-size: 25px;
}
.quick-contact span 
{
    padding-left: 10px;
    font-size: 18px;
}
.quick-contact span 
{
    color: rgb(73, 77, 123);
}
.quick-contact {
    font-size: 17px;
    margin-bottom: 40px;
}
.msg-form
{
    padding: 20px 16px;
}
.msg-form .input-group
{
    display: inline-table;
    padding: 20px 0px;
}

#footer
{
    background-color: #46A1B4;
    padding: 25px 0px;
}
.copy-right-text
{
    color: #fff;
    font-size: 13px;
    padding-top: 25px;
}

.copy-right-text a {
    color: #AFEEEE;
    font-size: 15px;
    font-weight: 500;
}

.copy-right-text a:hover {
    color: #064B6D;
}
.contact 
{
    padding-top: 10px;
    padding-left: 0px;
}
li.socials-icons 
{
    padding-left: 20px;
}
.socials-icons a
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #49C1DC;
    float: left;
    color: white;
    padding-top: 3px;
    font-size: 20px;
}
.facebook:hover
{
    background-color: #46629E;
    box-shadow: 0 0 0 2px #46629E;
    color: white;
}
.twitter:hover
{
    background-color: #0EAACE;
    box-shadow: 0 0 0 2px #0EAACE;
    color: white;
}

.instagram:hover
{
    background-color: #3f729b;
    box-shadow: 0 0 0 2px #3f729b;
    color: white;
}
.skype:hover
{
    background-color: #01AEF2;
    box-shadow: 0 0 0 2px #01AEF2;
    color: white;
}


@media (min-width: 1200px){
    .navbar-collapse.collapse 
    {
        display: block!important;
        height: auto!important;
       
        overflow: visible!important;
    }
}
    
@media (min-width: 1200px){
    .navbar-collapse 
    {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

@media (max-width: 991px){
    .slider-inner-text {
        margin: 162px 0px;
    }
}

@media (max-width: 767px){
    .slider-inner-text {
        margin: 162px 58px;
        width: 62%;
    }
}

@media (max-width: 505px){
    section.content main .info li:not(:last-child) 
    {
        margin: 0 27px 10px 0;
    }   
    section.content main .info li 
    {
        border: 0 !important;
        display: inline;
        margin: 0;
        padding: 0px;
    }
    .slider-inner h1{
        font-size: 50px;
    }
    .slider-inner-text {
        margin: 162px 13px;
    }
    .slider-inner-text p
    {
        font-size: 19px;
    }
    .welcome {
        padding: 48px 20px;
    }
}
@media(max-width: 319px) {
    .heading-slider {
        display: none;
    }
}